name: Build Flutter Executables
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: pages
  cancel-in-progress: false
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  flutter-build:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
          - macOS-15-intel
        include:
          - os: ubuntu-latest
            os-name: linux
            output-name: Dictionaries-Linux-x64
            build: build/linux/x64/release/bundle/dictionaries
          - os: windows-latest
            os-name: windows
            output-name: Dictionaries-Windows-x64
            build: build\windows\x64\runner\Release\dictionaries.exe
          - os: macOS-latest
            os-name: macos
            output-name-arm64: Dictionaries-macOS-arm64
            build: build/macos/Build/Products/Release/Dictionaries.app
          - os: macOS-15-intel
            os-name: macos
            output-name: Dictionaries-macOS-x64
            build: build/macos/Build/Products/Release/Dictionaries.app
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Setup
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
      - name: Cache Dependencies
        uses: "actions/cache@v4"
        with:
          path: ~/.pub-cache
          key: "${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}"
          restore-keys: "${{ runner.os }}-pub-"
      - name: Flutter Build
        shell: bash
        run: |-
          multiarch=false
          mkdir -p "build/${{ matrix.os }}"
          flutter pub get
          dart run recursive_caster

          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo apt-get update -y && sudo apt-get upgrade -y
            sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev
          fi

          echo "Building platform ${{ matrix.os }} without multiarch support"
          flutter build ${{ matrix.os-name }} --release
          cp -r "${{ matrix.build }}" "build/${{ matrix.os }}/${{ matrix.output-name }}"
      - uses: "actions/upload-artifact@v4"
        with:
          name: "executables-${{ github.run_id }}-${{ matrix.os }}"
          path: "build/${{ matrix.os }}"