name: Build Flutter Executables
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: pages
  cancel-in-progress: false
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  flutter-build:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
          - macOS-15-intel
        include:
          - os: ubuntu-latest
            os-name: linux
            output-name-x64: Dictionaries-Linux-x64
            output-name-arm32: Dictionaries-Linux-arm32
            output-name-arm64: Dictionaries-Linux-arm64
            output-name-riscv64: Dictionaries-Linux-RISCV64
            build: build/linux/ARCH/release/bundle/dictionaries
          - os: windows-latest
            os-name: windows
            output-name: Dictionaries-Windows-x64
            build: build\windows\runner\Release\dictionaries.exe
          - os: macOS-latest
            os-name: macos
            output-name-arm64: Dictionaries-macOS-ARM64
            build: build/macos/Build/Products/Release/dictonaries
          - os: macOS-15-intel
            os-name: macos
            output-name: Dictionaries-macOS-x64
            build: build/macos/Build/Products/Release/dictonaries
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Setup
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
      - name: Cache Dependencies
        uses: "actions/cache@v4"
        with:
          path: ~/.pub-cache
          key: "${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}"
          restore-keys: "${{ runner.os }}-pub-"
      - name: Flutter Build
        shell: bash
        run: |-
          multiarch=false
          mkdir -p "build/${{ matrix.os }}"
          flutter pub get
          dart run recursive_caster

          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            multiarch=true
          fi

          if [ "$multiarch" == true ]; then
            build() {
                arch=$1
                outputname=$2
                echo "Building platform ${{ matrix.os }} for arch $arch"

                flutter build ${{ matrix.os-name }} --target-arch "$arch"
                build=${{ matrix.build }}
                build=${build//ARCH/$arch}
                cp $build "build/${{ matrix.os }}/$outputname"
            }

            build x64 ${{ matrix.output-name-x64 }}
            build arm32 ${{ matrix.output-name-arm32 }}
            build arm64 ${{ matrix.output-name-arm64 }}
            build riscv64 ${{ matrix.output-name-riscv64 }}
          else
            echo "Building platform ${{ matrix.os }} without multiarch support"
            flutter build ${{ matrix.os-name }}
            cp "${{ matrix.build }}" "build/${{ matrix.os }}/${{ matrix.output-name }}"
          fi
      - uses: "actions/upload-artifact@v4"
        with:
          name: "executables-${{ github.run_id }}-${{ matrix.os }}"
          path: "build/${{ matrix.os }}"