name: Dictionaries Build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: pages
  cancel-in-progress: false
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  flutter-build:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
          - macOS-15-intel
        include:
          - os: ubuntu-latest
            output-name-x64: Dictionaries-Linux-x64
            output-name-arm32: Dictionaries-Linux-arm32
            output-name-arm64: Dictionaries-Linux-arm64
            output-name-riscv64: Dictionaries-Linux-RISCV64
          - os: windows-latest
            output-name: Dictionaries-Windows-x64
            oclog-output-name: OCLog-Windows-x64
          - os: macOS-latest
            output-name-arm64: Dictionaries-macOS-ARM64
          - os: macOS-15-intel
            output-name: Dictionaries-macOS-x64
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Setup
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
      - name: Cache Dependencies
        uses: "actions/cache@v4"
        with:
          path: ~/.pub-cache
          key: "${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}"
          restore-keys: "${{ runner.os }}-pub-"
      - name: Flutter Build
        shell: bash
        run: |-
          multiarch=false
          mkdir -p build/${{ matrix.os }}
          flutter pub get
          dart run recursive_caster

          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            multiarch=true
          fi

          if [ "$multiarch" == true ]; then
            echo "Building platform ${{ matrix.os }} with multiarch support"
            flutter compile exe -o build/${{ matrix.os }}/${{ matrix.output-name-x64 }} --target-arch x64
            flutter compile exe -o build/${{ matrix.os }}/${{ matrix.output-name-arm32 }} --target-arch arm32
            flutter compile exe -o build/${{ matrix.os }}/${{ matrix.output-name-arm64 }} --target-arch arm64
            flutter compile exe -o build/${{ matrix.os }}/${{ matrix.output-name-riscv64 }} --target-arch riscv64
          else
            echo "Building platform ${{ matrix.os }} without multiarch support"
            flutter compile exe -o build/${{ matrix.os }}/${{ matrix.output-name }}
          fi
      - uses: "actions/upload-artifact@v4"
        with:
          name: "executables-${{ github.run_id }}-${{ matrix.os }}"
          path: "build/${{ matrix.os }}"
  flutter-build-kernel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - ubuntu-latest
        include:
          - os: ubuntu-latest
            output-name: Dictionaries-universal.dill
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Setup
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
      - name: Cache Dependencies
        uses: "actions/cache@v4"
        with:
          path: ~/.pub-cache
          key: "${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}"
          restore-keys: "${{ runner.os }}-pub-"
      - name: Flutter Build Kernel
        run: |-
          mkdir -p build/kernel
          flutter pub get
          dart run recursive_caster
          flutter compile kernel -o build/kernel/${{ matrix.output-name }}
      - uses: "actions/upload-artifact@v4"
        with:
          name: "executables-alt-${{ github.run_id }}"
          path: "build/kernel"